{# src/Blogger/BlogBundle/Resources/views/Comment/form.html.twig #}

{{ form_start(form) }}
    {{ form_widget(form) }}
    <p>
        <input type="submit" value="Submit">
    </p>
{{ form_end(form) }}